<div class="status">
    <h1>About Me</h1>
    <!-- <button class="btn-hover color" type="submit" (click)="downloadResume()">Download Resume</button> -->
</div>
<div class="cards">
    <div class="card">
        <p>Diligent college grad with a bachelor's in computer science engineering and at least <strong><i>two years</i></strong> of professional experience. Attempting to effectively fill the <strong><i>Software Engineer</i></strong> position at your organisation by utilising academic experience and a proven understanding of <strong><i>research and development, process improvement, and cross-functional team</i></strong>. I frequently receive recognition from my colleagues for being <strong><i>results-driven</i></strong>, and you can count on me to assist your business in achieving its objectives.</p>
        <img src="assets/geek-2.gif" alt="magic-developer">
    </div>
</div>