h1 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
    font-size: 3rem;
}

h2,p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;

}

/* p {
    font-size: 10px;
    font-weight: 100;
} */

.status {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.card {
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    margin: 1rem 1rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th , td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 3px;
}

th {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

td {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .right {
    min-width:200px; 
    max-width: 200px;
    word-wrap: break-word;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .right {
    visibility:visible; opacity:1;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}