<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,0,-25" />
<main>
    <section class="glass">
        <div class="dashboard">
            <div class="user">
                <img src="assets/hello.gif" alt="profile-pic">
                <h3>Sanyam Goyal</h3>
                <p>Software Developer</p>
            </div>
            <div class="links">
                <div class="link">
                    <span class="material-symbols-outlined">window</span>
                    <a routerLink="/"><h3>Dashboard</h3></a>
                </div>
                <div class="link">
                    <span class="material-symbols-outlined">psychology</span>
                    <a routerLink="/skills"><h3>Skills</h3></a>
                </div>
                <div class="link">
                    <span class="material-symbols-outlined">work_history</span>
                    <a routerLink="/projects"><h3>Past Projects</h3></a>
                </div>
                <div class="link">
                    <span class="material-symbols-outlined">history</span>
                    <a routerLink="/experience"><h3>Experience</h3></a>
                </div>
                <div class="link">
                    <span class="material-symbols-outlined">workspace_premium</span>
                    <a routerLink="/certificates"><h3>Certificates</h3></a>
                </div>
                <div class="link">
                    <span class="material-symbols-outlined">interests</span>
                    <a routerLink="/interests"><h3>Interests</h3></a>
                </div>
                <!-- <div class="link">
                    <span class="material-symbols-outlined">hourglass_top</span>
                    <a routerLink="/story"><h3>Story Of My Life</h3></a>
                </div> -->
            </div>
        </div>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </section>
</main>
<div class="circle1"></div>
<div class="circle2"></div>
<div class="circle3"></div>